/*!
 * Brad Anderson Personal website
 * 
 * 
 */

/* Body */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Body */

/*Header*/


/* About */

.about {
    font-size: 18px;
}

.about-row{
    position: relative;
}

.about-col {
    position: absolute;
}

/* Padding & Postioning */

.seperation {
    padding: 30px 0;
}


/*Portfolio */


/* Footer */

.btn-social {
    padding: 2px;
    font-size: 18px;
    color: #222;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active,
.btn-social.active {
    color: #007bff;
}